<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AssemblyInfoHelper" version="4.3.1" targetFramework="net452" />
  <package id="ControlzEx" version="4.3.0" targetFramework="net452" />
  <package id="DocX" version="1.6.0" targetFramework="net452" />
  <package id="MahApps.Metro" version="2.0.1" targetFramework="net452" />
  <package id="MahApps.Metro.IconPacks.FontAwesome" version="4.2.0" targetFramework="net452" />
  <package id="MahApps.Metro.IconPacks.Material" version="4.2.0" targetFramework="net452" />
  <package id="MahApps.Metro.IconPacks.Octicons" version="4.2.0" targetFramework="net452" />
  <package id="Markdig" version="0.17.1" targetFramework="net452" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net452" />
  <package id="Neo.Markdig.Xaml" version="1.0.5" targetFramework="net452" />
  <package id="Octokit" version="0.32.0" targetFramework="net452" />
  <package id="Semver" version="2.0.4" targetFramework="net452" />
</packages>